---
import Layout from "@/layouts/Layout.astro";
import HeroKeyLogo from "@/assets/hero-key-logo.webp";
import HeroKeyBackground from "@/assets/hero-key-background.webp";
import LogoVI from "@/assets/logo-vi.svg";
import PlayButtonIcon from "@/assets/play-button.svg";
import LogoCutted from "@/assets/logo-cutted.svg";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div id="logo-stack" class="fixed top-0 h-screen w-full">
    <section>
      <picture id="hero-key" class="h-screen scale-125 overflow-hidden fixed">
        <img
          id="hero-key-logo"
          src={HeroKeyLogo.src}
          alt="Hero Key Logo"
          class="absolute h-full w-full object-cover"
        />
        <img
          id="hero-key-background"
          src={HeroKeyBackground.src}
          alt="Hero Key Background"
          class="h-full w-full object-cover"
        />
      </picture>
    </section>
  </div>

  <div
    class="fixed flex flex-col items-center justify-between px-20 py-16 h-screen w-full"
  >
    <header class="flex justify-between w-full">
      <LogoVI
        class="size-11 text-white hover:text-yellow-100 transition-colors duration-500 cursor-pointer"
      />
    </header>

    <button class="absolute inset-0 m-auto inline-block cursor-pointer">
      <PlayButtonIcon
        id="hero-play-button"
        class="text-white m-auto size-30 mt-10 rounded-full backdrop-blur-3xl hover:scale-110 transition-transform duration-500"
      />
    </button>

    <footer id="hero-footer" class="absolute bottom-4 m-auto">
      <LogoCutted class="text-white w-30" />
      <span
        class="absolute top-[53px] uppercase tracking-[6px] whitespace-nowrap text-center -left-1/2 translate-x-3 font-semibold text-sm text-shadow-[0_0_2px_rgba(255,255,255,0.5), 0_0_12px_#000]"
        >Ver el Tráiler 2</span
      >
    </footer>
  </div>

  <div
    id="footer"
    class="opacity-0 flex justify-center md:mt-12 lg:mt-14 fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[250px] md:w-[950px] p-1"
  >
    <p
      id="parrafo"
      class="text-white text-center font-bold text-2xl md:text-9xl text-wrap"
    >
      i'm enjoyed make it By Alan San. 2025
    </p>
  </div>
 
</Layout>
<!--   -->

<!-- // eta es la magian del mask at big to small effect  -->
<style>
  #logo-stack {
    background-color: white;
    mask-image: url("/logo-stack.svg");
    mask-position: center 20%;
    mask-repeat: no-repeat;
    mask-size: clamp(5200vh, 3500%, 0vh);
  }
</style>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    ease: "power2.out",
    scrollTrigger: {
      scrub: 1,
    },
  });
  gsap.set("#footer", {
    opacity: 1,
    clipPath: "ellipse(60% 0% at 50% 190%)", // Oculto desde abajo
  });

  tl.to("#hero-key", { duration: 1, scale: 1 })
    .to("#hero-key-logo", { opacity: 0 }, "<")
    .to("#hero-play-button", { opacity: 0 }, "<")
    .to("#hero-footer ", { opacity: 0 }, "<")
    .to("#logo-stack", { maskSize: "clamp(20vh, 25%, 30vh)", }, 0.15)
    .to("#hero-key", { opacity: 0 }, "<")
    // .to("#circle-container", { scale: 2.6, zIndex: 70 }, ">-0.1")
    .to("#footer", { clipPath:  "ellipse(60% 100% at 50% 50%)", ease: "power2.out", scale:0.8}, "-=0.5")
    .to("#logo-stack", {scale:0.8}, "-=0.5")
</script>
