---
import KeepScrollingIcon from "@/assets/keep-scrolling.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
    <KeepScrollingIcon
      class="fixed bottom-3 left-0 right-0 m-auto text-pink-300 text-shadow-2xl animate-bounce-pulse"
    />
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  @theme {
    --font-sans: "GTA", sans-serif;
    --font-narrow: "GTANarrow", sans-serif;
    --animate-bounce-pulse: bounce-pulse 2s ease-in-out infinite;
    --shadow-5xl: box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25)
  }
  @keyframes bounce-pulse {
    0% {
      transform: translateY(0);
      scale: 0.8;
      opacity: 0.8;
    }

    50% {
      transform: translateY(-5px);
      scale: 1;
    }
    100% {
      transform: translateY(0);
      scale: 0.8;
      opacity: 0.8;
    }
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 300vh;
    color: white;
    background-color: #100f17;

  }
  /* background-image: linear-gradient(90deg, #f43f5e, #f59e0b); */


  .text-gradient {
  background-image: radial-gradient(circle at 50% 40vh, #ffd27b 0, #df3a93 60vh, #5c1663 100vh);
    font-weight: 900;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: ;

  }


  @font-face {
    font-family: GTA;
    src: url("/fonts/gta-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: GTA;
    src: url("/fonts/gta-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: GTA;
    src: url("/fonts/gta-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: GTANarrow;
    src: url("/fonts/gta-narrow.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

</style>
